// cdk-cards {
	.cards-header {
		background-color: #327ebd;
		color: white;
		padding: 0 5px;
	}
	.cards-container {
		padding: 5px;
		// color: white;
	}
	.example-header-image {
  background-image: url('../../../assets/shibainu.jpg');
  background-size: cover;
}
// }

.cdk-card-holder {
	border: 1px solid #327ebd;
	background-color: white;
}

.add-item-form {
    padding: 25px;
    mat-form-field {
				width:400px;
				padding-bottom: 20px;
    }
}

.image-preview-custom {
	width: 125px;
	max-height: 190px;
}

.image-preview-div {
	padding: 5px;
}

.upload-input {
	padding-top: 15px;
}

.submit-button {
	margin-top: 20px;
  max-width: 100px;
}

.image-div {
	overflow: auto !important;
}

.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.error-message {
	margin-top: 20px;
	width: 40%;
}